<ion-view style="display: block;
      min-width: 320px;
      min-height: 480px; !important; /* test */
      width:100%;
      height:110% !important; /* test */">
  <ion-nav-buttons side="right">
    <button class="button button-clear">
      <span class="icon ion-person"></span>
    </button>
  </ion-nav-buttons>
  <ion-content>


    <div ng-controller="NewsDetailController as news">

      <img ng-src="{{news.post.news_img}}" width="100" height="40" alt="">
      <a style="border-radius: 100%;background: #B3E5FC"
         class="button button-icon icon ion-android-bookmark customIcon iconOutline"></a>
      <br>
      <br>
      <p style="text-transform: uppercase; font-size: 1.8em;padding: 0 20px;letter-spacing: .14em; line-height: 1em">
        {{news.post.news_title}}</p>

      <div class="item item-avatar">
        <img ng-src="{{news.post.author_img}}">
        <h2 style="margin-top: 9px;">{{news.post.news_author}}</h2>
      </div>

      <div class="item item-body">

        <p class="firstLarge">{{news.post.news_desc}}</p>
      </div>

      <div class="item item-avatar">
        <img ng-src="{{news.post.author_img}}">
        <h2 style="margin-top: 9px;">{{news.post.news_author}}</h2>
      </div>

      <div class="item item-body">

        <p class="firstLarge">{{news.post.author_details}}</p>
      </div>

      <div style="width: 100% !important;max-height: 15% !important;overflow: hidden">
        <img style="width: 100% !important;height: 120px !important;" ng-src="{{news.temp.ad_image || news.defaultAdPic}}"/>

      </div>

      <footer>
        <div style="width: 100%" class="footer-copyright blue">
          <div class="container" style="text-align: center">
            <span style="vertical-align: top; color:white"> Made with </span><i class="material-icons" style="color:white">
            favorite</i> <span style="vertical-align: top; color:white">by
                inometrics</span>
          </div>
        </div>
      </footer>

      <br>
      <br>
      <br>
    </div>

  </ion-content>
</ion-view>
