<ion-view>
    <ion-content>

        <div class="m-scene" id="main" ng-controller="DashboardController as dashboard"> <!-- Main Container -->




            <!-- Slider -->
         <!-- <ion-slides options="dashboard.data.sliderOptions" slider="dashboard.data.sliderDelegate">
            <ion-slide-page ng-repeat="bgColor in dashboard.data.bgColors">
              <div class="box {{bgColor}}"></div>
            </ion-slide-page>
          </ion-slides>
-->


          <ion-slides  options="dashboard.options" slider="data.slider">
            <ion-slide-page ng-repeat="i in dashboard.advertisement track by $index">
              <img ng-src="{{i.sliders}}" />
            </ion-slide-page>
          </ion-slides>

          <!-- Page Content -->

          <div class="card">
            <div class="item item-text-wrap">
              {{dashboard.completeDate}}
            </div>
          </div>


            <div id="content">
                <div ng-repeat="i in dashboard.post" class="blog-card animated fadein delay-1">
                    <div class="blog-header">
                          <img class="avatar circle" ng-src="{{i.author_img}}" alt="">
                          <div class="blog-author">
                              <span>{{i.news_author}}</span>
                              <span class="small">1hour ago - 62 Share</span>
                          </div>
                      </div>
                      <div class="blog-image">
                          <img ng-src="{{i.news_img}}" alt="">
                      </div>
                      <div class="blog-preview p-20">
                          <h4 class="uppercase">{{i.news_title}}</h4>
                          <p>{{i.news_desc}}</p>
                          <a class="waves-effect waves-light btn primary-color" ng-click="dashboard.goToReadMore($index)">Read</a>
                      </div>
                </div>
            </div> <!-- End of Page Container -->

          <div class="col s12">
            <img ng-src="{{dashboard.temp.ad_image}}"/>
          </div>

        </div>




      <footer class="page-footer">
        <div class="footer-copyright blue">
          <div class="container" style="text-align: center;">
            Made with <i class="material-icons" style="position: relative;top: 8px;">favorite</i> by
            inometrics
          </div>
        </div>
      </footer>

      <style>

        .box {
          height: 250px;
        }

        ion-slides {
          height: 250px !important;
        }

        .swiper-container-horizontal > .swiper-pagination {
          bottom: 6%;
          left: 0;
          width: 100%;
        }

        .swiper-pagination-bullet {
          background: #0c60ee;
        }

      </style>


    </ion-content>
</ion-view>

