<ion-view>
    <ion-content>

        <div class="m-scene" id="main" ng-controller="DashboardController as dashboard"> <!-- Main Container -->




            <!-- Slider -->
         <!-- <ion-slides options="dashboard.data.sliderOptions" slider="dashboard.data.sliderDelegate">
            <ion-slide-page ng-repeat="bgColor in dashboard.data.bgColors">
              <div class="box {{bgColor}}"></div>
            </ion-slide-page>
          </ion-slides>
-->


          <ion-slides  options="dashboard.options" slider="data.slider">
            <ion-slide-page ng-repeat="i in dashboard.advertisement track by $index">
              <img ng-src="{{i.sliders}}" />
            </ion-slide-page>
          </ion-slides>

          <!-- Page Content -->
            <div id="content">
                <div ng-repeat="i in dashboard.post" class="blog-card animated fadein delay-1">
                    <div class="blog-header">
                          <img class="avatar circle" ng-src="{{i.author_img}}" alt="">
                          <div class="blog-author">
                              <span>{{i.news_author}}</span>
                              <span class="small">1hour ago - 62 Share</span>
                          </div>
                      </div>
                      <div class="blog-image">
                          <img ng-src="{{i.news_img}}" alt="">
                      </div>
                      <div class="blog-preview p-20">
                          <h4 class="uppercase">{{i.news_title}}</h4>
                          <p>{{i.news_desc}}</p>
                          <a class="waves-effect waves-light btn primary-color" ng-click="dashboard.goToReadMore($index)">Read</a>
                      </div>
                </div>
            </div> <!-- End of Page Container -->

        </div>

      <footer class="page-footer ">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h4 style="text-align: center;color : white">ADS</h4>
              <p class="center-align grey-text text-lighten-4">Your adds will show here</p>

            </div>
          </div>
        </div>
        <div class="footer-copyright blue darken-1">
          <div class="container" style="text-align: center;">
            Made with <i class="material-icons" style="position: relative;top: 8px;">favorite</i> by
            inometrics

          </div>
        </div>
      </footer>

      <style>

        .box {
          height: 250px;
        }

        ion-slides {
          height: 250px !important;
        }

        .bgColor_0 {
          background-color: #cc2244;
        }

        .bgColor_1 {
          background-color: #cc6622;
        }

        .bgColor_2 {
          background-color: #cccc22;
        }

        .bgColor_3 {
          background-color: #66cc22;
        }

        .bgColor_4 {
          background-color: #22cc44;
        }

        .bgColor_5 {
          background-color: #22ccaa;
        }

        .bgColor_6 {
          background-color: #2288cc;
        }

        .bgColor_7 {
          background-color: #2222cc;
        }

        .bgColor_8 {
          background-color: #8822cc;
        }

        .bgColor_9 {
          background-color: #cc22aa;
        }

        .swiper-container-horizontal > .swiper-pagination {
          bottom: 6%;
          left: 0;
          width: 100%;
        }

        .swiper-pagination-bullet {
          background: #0c60ee;
        }

      </style>


    </ion-content>
</ion-view>

