<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content class="menuRoute">
    <ion-nav-bar class="bar bar-header bgNone bar-positive">
     <!-- <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios-arrow-back"></i> Back
      </ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:blue !important;"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view style="height:107% !important;top:-44px;" name="menuContent"></ion-nav-view>

  </ion-side-menu-content>
  <!--class="sidebarBackgroundColor"-->
  <ion-side-menu side="left">
    <ion-content>

     <!-- <div>
        <div class="imageBorder">
          <img class="menuProfileImage" ng-src="{{menu.userData.pic}}" alt="">
        </div>

        <h3 style="text-align: center; color:white">{{menu.userData.name}}</h3>
        <p style="text-align: center; color:white">{{menu.userData.city}} , {{menu.userData.country}}</p>
      </div>
      <hr class="horizontalLine">

      <br/>
-->
      <ion-list>
        <ion-item class="item-icon-left" menu-close>
          <span class="icon ion-ios-home-outline"></span> &nbsp; &nbsp; Home
        </ion-item>

        <ion-item class="item-icon-left" menu-close ui-sref="menu.newsDetail">
          <span class="icon ion-android-contacts" ></span>&nbsp; &nbsp;News Detail
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
