.bgNone{
  background: transparent !important;
}


/*
.bar.bar-header {
  background: rgba(255,255,255,.10);
  border-bottom-width: 0;
}

.bar.bar-header h1 {
  color: black !important;
}

.scroll-content {
  overflow: visible !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top:0px;
}
.bar.bar-header {
  background: rgba(255,255,255,.10);
  border-bottom-width: 0;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top:0px;
}
*/
.bar.bar-header {
  background: rgba(255,255,255,.10);
  border-bottom-width: 0;
}

.bar.bar-header h1 {
  color: black !important;
}


/*.scroll-content {
  overflow: visible !important;
}*/

/*.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top:0px;
}*/

.customIcon{
  position: absolute !important;
  top:33%;
  right: 10%;
  color:white !important;
  border: 1px solid rgb(236, 64, 122);
  border-radius: 25px;
  background-color: rgb(236, 64, 122) !important;
  padding: 7px 20px !important;
}

.firstLarge::first-letter{
  font-size: 4em;
  float:left;
  padding: 5px 10px;
  padding-top: 16px;
}
